@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans:700,400,300);
@import url(//fonts.googleapis.com/css?family=Dorsa);
@import url(http://fonts.googleapis.com/css?family=Dosis:400,600);
/* =======================================================
                                        variables
======================================================== */
/*========================================================
                                                                                Main layout styles
=========================================================*/
body {
    background: #f6f6f7;
    font: 14px/24px Georgia, 'Times New Roman', Times, serif;
}
.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: default;
}
a {
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
a:hover {
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
a[href^="tel:"] {
    color: inherit;
    text-decoration: none;
}
h2 a,
h3 a,
h4 a,
h5 a {
    color: inherit;
    font: inherit;
}
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover {
    color: #d94d3a;
}
* {
    -webkit-text-size-adjust: none;
}
::-moz-selection {
    /* Code for Firefox */
    color: #ffffff;
    background: #666666;
}
::selection {
    color: #ffffff;
    background: #666666;
}
/*========================================================
                                                                                HEADER styles
=========================================================*/
#header {
    padding: 20px 0;
    /*  background: url(../images/header_bg.jpg) no-repeat;
      background-size: cover;*/
    text-align: center;
    height: 400px;
    position: relative;
}
#header .social {
    text-align: center;
}
#header .social .fa {
    width: 69px;
    height: 69px;
    background: #fff;
    line-height: 69px;
    margin: 0 35px 50px 35px;
    font-size: 38px;
    color: #423e3e;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
#header .social .fa:hover {
    background: #d94d3a;
}
#header h1 {
    color: #ffffff;
    margin-top: 15px;
}
#header h1 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 150px;
    line-height: 115px;
    color: #ffffff;
    text-transform: uppercase;
    display: block;
    height: 180px;
    cursor: default;
    letter-spacing: -8px;
}
#header h1 span {
    display: block;
    font-family: 'Courgette', cursive;
    font-size: 30px;
    line-height: 30px;
    margin-top: 28px;
    text-transform: none;
    letter-spacing: 1px;
}
#header nav {
    margin-top: 53px;
}
.index #header {
    position: relative;
    background: none;
    height: 0;
    padding: 0;
}
.index #header #stuck_container {
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    top: 20px;
}
@media only screen and (max-width: 767px) {
    #header {
        text-align: center;
    }
    #header h1,
    #header nav {
        float: none;
        display: inline-block;
    }
    #header nav {
        display: block;
    }
    #header .social .fa {
        margin: 0 25px 50px 25px;
    }
}
@media only screen and (max-width: 480px) {
    #header .social .fa {
        margin: 0 5px 50px 5px;
    }
}

.language-selector {
    position: absolute;
    top: 10px;
    left: 10px;
}
.language-selector form {
    display: inline-block;
    margin: auto;
}

/* Main menu styles
========================================================*/
.sf-menu {
    width: 100%;
    text-align: center;
    line-height: 36px;
    margin-top: auto;
    margin-top: 32px;
    border-top: 2px solid #fff;
    padding-top: 50px;
    display: table;
}
.sf-menu > li {
    display: table-cell;
    table-layout: fixed;
    position: relative;
    padding: 0;
    margin: 0;
}
.sf-menu > li > a {
    color: #8A7912;
    font-size: 36px;
    line-height: 42px;
    margin-left: 29px;
    font-family: 'Architects Daughter', cursive;
    margin-bottom: 30px;
    position: relative;
}
.sf-menu > li > a:hover {
    color: #ffffff;
}
.sf-menu > li > a:hover:before {
    background-position: 0 0;
    top: -46px;
    height: 21px;
}
.sf-menu > li > a:before {
    content: "";
    position: absolute;
    top: -52px;
    left: 40%;
    width: 38px;
    height: 12px;
    background: url(../images/menu-bullet.png) 0 -21px no-repeat;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.sf-menu > li:first-child {
    padding-right: 0;
}
.sf-menu > li > a.current {
    color: #ffffff;
}
.sf-menu > li > a.current:before {
    background-position: 0 0;
    top: -46px;
    height: 21px;
}
@media only screen and (max-width: 979px) {
    .sf-menu li {
        padding-right: 0;
    }
}
/* First level sub-menu styles
========================================================*/
.sf-menu ul {
    position: absolute;
    top: 66px;
    left: calc(50% - 80px);
    background: #d94d3a;
    color: #ffffff;
    min-width: 160px;
    z-index: 999;
    display: none;
    text-align: left;
    padding-left: 33px;
    padding-top: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sf-menu ul:before {
    content: "";
    position: absolute;
    top: -10px;
    left: calc(50% - 3px);
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #d94d3a;
}
.sf-menu ul li {
    position: relative;
    height: 48px;
    line-height: 48px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.sf-menu ul li a {
    line-height: 12px;
    padding: 10px 0;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: block;
}
.sf-menu ul li:hover > a {
    color: #7d261a;
}

.select-menu {
    text-align: center;
    line-height: 36px;
}
.select-menu > li > a {
    display: block;
    color: #8A7912;
    font-size: 36px;
    font-family: 'Dosis', sans-serif;
    margin-bottom: 5px;
    position: relative;
}
.select-menu > li > a:hover {
    color: #ffffff;
}
.select-menu > li > a.current {
    color: #ffffff;
}

@media only screen and (max-width: 767px) {
    .sf-menu {
        display: none;
    }
    .select-menu {
        display: block;
        width: 100%;
        border-color: #d94d3a;
        padding: 10px;
        margin-bottom: 10px;
    }
}
/*========================================================
                                                                                CONTENT styles
=========================================================*/
#content {
    position: relative;
    margin-top: 10px;
}
#content .container {
    min-height: 500px;
    background: rgba(246,246,246,0.8);
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(179,179,179,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(179,179,179,0.75);
    box-shadow: 0px 0px 15px 0px rgba(179,179,179,0.75);
}
h2,
h3,
h4 {
    font-family: 'Marvel', sans-serif;
    color: #3c3c3e;
}
h2 {
    font-size: 28px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    display: block;
}
h3 {
    font-size: 22px;
    font-family: 'Marvel', sans-serif;
    text-align: center;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
}
h4 {
    font-size: 28px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}
h5 {
    font-size: 16px;
    line-height: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-bottom: 10px;
    color: #3c3c3e;
}
.h5__mod {
    color: #d94d3a;
}
p {
    font: 16px 'Open Sans', sans-serif;
    line-height: 18px;
    color: #727070;
}
.full-width-container {
    width: 100%;
}
.img_block {
    overflow: hidden;
    position: relative;
    display: block;
    margin: 10px;
    padding: 2px;
    width: 200px;
    height: 150px;
    background-position: center center;
    background-size: 240px auto;
    background-repeat: no-repeat;
    border: 1px solid #000;
}
.btn {
    width: 260px;
    border: 1px solid #5d5959;
    background: none;
    display: block;
    font: 36px/76px 'Open Sans', sans-serif;
    text-align: center;
    color: #5d5959;
    margin-top: 20px;
    margin: 20px auto;
}
.btn:lang(en) {
    width: 340px;
}
.btn:hover {
    background: #3c3c3e;
    color: #ffffff;
}
.bd-ra {
    border-radius: 50%;
}
.sub_head {
    font-size: 24px;
    font-style: italic;
    line-height: 36px;
    text-align: center;
    margin: 0 auto;
}
@media only screen and (max-width: 979px) {
    h2 {
        font: 300 62px/62px 'Open Sans', sans-serif;
        text-align: center;
        margin-bottom: 40px;
    }
    h2 span:before {
        display: none;
    }
    h3 {
        font: 45px/45px 'Marvel', sans-serif;
        text-align: center;
    }
    h4 {
        font: 30px/30px 'Marvel', sans-serif;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h5 {
        font: 20px/20px 'Marvel', sans-serif;
        text-align: center;
        margin-bottom: 20px;
        color: #3c3c3e;
    }
}
@media only screen and (max-width: 767px) {
    h2 {
        font: 300 52px/52px 'Open Sans', sans-serif;
        text-align: center;
        margin-bottom: 40px;
    }
    h2 span:before {
        display: none;
    }
    h3 {
        font: 45px/45px 'Marvel', sans-serif;
        text-align: center;
    }
    h4 {
        font: 25px/25px 'Marvel', sans-serif;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h5 {
        font: 20px/20px 'Marvel', sans-serif;
        text-align: center;
        margin-bottom: 20px;
        color: #3c3c3e;
    }
}
@media only screen and (max-width: 479px) {
    h2 {
        font: 300 42px/42px 'Open Sans', sans-serif;
        text-align: center;
        margin-bottom: 40px;
    }
    h2 span:before {
        display: none;
    }
    h3 {
        font: 35px/35px 'Marvel', sans-serif;
        text-align: center;
    }
    h4 {
        font: 20px/20px 'Marvel', sans-serif;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h5 {
        font: 16px/16px 'Marvel', sans-serif;
        text-align: center;
        margin-bottom: 20px;
        color: #3c3c3e;
    }
}

.introduction {

}

.introduction p {
    padding: 10px;
    width: 600px;
    margin-top: 20px;
}
.introduction .profil {
    display: block;
    width: 500px;
    float: right;
    margin: 5px;
}
.devider:after {
    content: "";
    border-bottom: 1px solid #727070;
    width: 95%;
    height: 0px;
    margin: 3px auto;
    display: block;
    padding-top: 15px;
}

.technology {
    position: relative;
}
.isotope a {
    float: left;
    overflow: hidden;
    border: 1px solid transparent;
    position: relative;
}
.isotope a i {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    display: block;
    background: url(../images/filler-1.png) repeat;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 100px;
    color: #fff;
    line-height: 160px;
    text-align: center;
}
.isotope a:hover {
    border: 1px solid #3f3d3d;
}
.isotope a:hover i {
    opacity: 1;
    filter: alpha(opacity=100);
}
.product-menu {
    display: block;
    text-align: center;
    width: 100%;
}
.product-menu li{
    display: inline-block;
    margin: 10px 30px;
}
.product-menu .active-menu {
    background: #3c3c3e;
    color: #ffffff;
}
.contact {
    -moz-user-select: text ;
    -webkit-user-select: text ;
    -ms-user-select: text ;
}
.contact p {
    padding: 10px;
}
.contact iframe {
    display: block;
    width: 600px;
    height: 450px;
    float: left;
    margin: 5px;
    margin-right: 15px;
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 979px) {
}
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 640px) {
}
@media only screen and (max-width: 480px) {
}
/*========================================================
                                                                                FOOTER styles
=========================================================*/
#footer {
    /*background: #f6f6f7;*/
    padding: 10px 0 0;
    color: #3c3c3e;
    position: relative;
}
#footer a {
    color: inherit;
}
#footer a:hover {
    text-decoration: underline;
}
#footer .copyright {
    text-align: center;
}
#footer .copyright pre {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}
/*========================================================
                                                                                Widget styles
=========================================================*/
/* UItoTop styles
========================================================*/
#toTop {
    display: none;
    background: #d94d3a;
    text-decoration: none;
    position: fixed;
    bottom: 80px;
    right: 30px;
    overflow: hidden;
    border: none;
    color: #fff;
    width: 73px;
    height: 73px;
    font-size: 72px;
    line-height: 73px;
    z-index: 200;
    text-align: center;
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
}
#toTop:hover {
    outline: none;
    color: #7d261a;
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
    cursor: pointer;
}
@media only screen and (max-width: 1199px) {
    #toTop {
        display: none !important;
    }
}
/*========================================================
                                                                CAROUSEL
=========================================================*/

.captionOrange, .captionBlack
{
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    display: block;
    position:absolute;
    width:400px;
}
.captionOrange
{
    background: #8A7912;
    background-color: rgba(138, 121, 18, 0.8);
}

.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url(../images/b05.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

.jssora12l, .jssora12r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 30px;
    height: 46px;
    cursor: pointer;
    background: url(../images/a12.png) no-repeat;
    overflow: hidden;
}
.jssora12l { background-position: -16px -37px; }
.jssora12r { background-position: -75px -37px; }
.jssora12l:hover { background-position: -136px -37px; }
.jssora12r:hover { background-position: -195px -37px; }
.jssora12l.jssora12ldn { background-position: -256px -37px; }
.jssora12r.jssora12rdn { background-position: -315px -37px; }